@model CourseProject.Models.ViewModel.UpdateUserViewModel
@using System.Security.Claims

@{

}

@if (User.IsInRole("admin"))
{
    <div class="admin-content">
        <ul class="nav">
            <li class="admin-link"><a asp-area="" asp-controller="Home" asp-action="Appointments">Усі Замовлення</a></li>
            <li class="admin-link"><a asp-area="" asp-controller="Employees" asp-action="Index">Робітники</a></li>
            <li class="admin-link"><a asp-area="" asp-controller="Service" asp-action="Index">Послуги</a></li>
        </ul>
    </div>
}

else
{
    <div id="page-content-wrapper">
	<div class="all-page-bar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="title title-1 text-center">
						<div class="much">
							<img src="~/uploads/mustache.png" alt="" />
						</div>

						<div class="title--heading">
							<h1>@Localizer["Профіль"]</h1>
						</div>
						<div class="clearfix"></div>

						<ol class="breadcrumb">
							<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Головна"]</a></li>
							<li class="active"></li>
						</ol>
					</div>
					<!-- .title end -->
				</div>
			</div>
		</div>
	</div><!-- end all-page-bar -->
    <div id="appointment" class="section wb">
		<div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <small>@Localizer["Ваші замовлення"]</small>
                        <h3>@Localizer["Натисність для переходу на список замовлень"]</h3>
                    </div>
                </div><!-- end title -->
    <div class="row">
        <div class="col-lg-12">
            <div class="contact_form">
                          
                <div id="message"></div>
                            <div class="form-btn text-center">
                                <a asp-controller="User" asp-action="UserAppointments" class="btn btn-light btn-radius btn-brd grd1 btn-block subt">@Localizer["Ваші замовлення"]</a>
                            </div>


                          
                    </div><!-- end col -->
        </div><!-- end row Have a user? Sign in-->
    </div>
        </div>
    </div>
	<div id="appointment" class="section wb">
		<div class="container">
                <div class="section-title row text-center">
                    <div class="col-md-8 offset-md-2">
                        <small>@Localizer["Ваші дані"]</small>
                        <h3>@Localizer["Можете змінити дані за власним бажанням"]</h3>
                    </div>
                </div><!-- end title -->
    <div class="row">
        <div class="col-lg-12">
            <div class="contact_form">
                          
                <div id="message"></div>
                            <form method="post" action="UserAccounts" class="mt-5">
                                <fieldset class="row row-fluid">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: none;">
                     
                                        <input type="text" class="form-control" asp-for="Id">
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label asp-for="Name">@Localizer["Ім'я"]</label>
                                        <input type="text" class="form-control" asp-for="Name">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label asp-for="Username">@Localizer["Логін"]</label>
                                        <input type="text" class="form-control" asp-for="Username" readonly>
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label asp-for="Email">Email</label>
                                        <input type="email" class="form-control" asp-for="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label asp-for="Password">@Localizer["Пароль"]</label>
                                        <input type="password" id="basic" class="form-control" asp-for="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>

                                    <div class="form-btn text-center offset-lg-8">
                                        <button type="submit" class="btn btn-light btn-radius btn-brd grd1 btn-block subt">@Localizer["Зберегти дані"]</button>
                                    </div>
                                </fieldset>
                            </form>   
                    </div><!-- end col -->
        </div>
    </div>
        </div>
    </div>
    </div>
}
<style>
    .admin-content {
        text-align: center;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .admin-link a {
        font-size: 20px;
        margin-right: 20px;
    }

    h1, h2 {
        margin-top: 30px;
        text-align: center;
        font-size: 24px;
    }

    .user-content {
        /* Add styles for user content if needed */
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

</style>