@{
    ViewData["Title"] = "Про нас";
}
<!-- Page Content -->
<div id="page-content-wrapper">
	<div class="all-page-bar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="title title-1 text-center">
						<div class="much">
							<img src="~/uploads/mustache.png" alt="" />
						</div>

						<div class="title--heading">
							<h1>@Localizer["Про нас"]</h1>
						</div>
						<div class="clearfix"></div>

						<ol class="breadcrumb">
							<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Головна"]</a></li>
							<li class="active"></li>
						</ol>
					</div>
					<!-- .title end -->
				</div>
			</div>
		</div>
	</div><!-- end all-page-bar -->

	<div class="section wb">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 text-left">
					<div class="message-box">
						<h4>@Localizer["Про нас"]</h4>
						@* <h2>Welcome to SMBarber</h2> *@
						<p class="lead">@Localizer["Ласкаво просимо до нашого барбершопу! Наш барбершоп - це місце, де історія зустрічається з сучасністю, де класика поєднується з інноваціями."]</p>

						<p>@Localizer["Відкритий у 2005 році, наш барбершоп став результатом глибокої страсті до традиційного чоловічого стрижка та бажання подарувати нашим клієнтам найкращий досвід. З перших днів нашої діяльності ми віддавали перевагу високій якості послуг та відмінному обслуговуванню."]</p>
						<p>@Localizer["З роками ми розвивалися та вдосконалювалися, завжди долаючи виклики, які ставали на нашому шляху. Наші барбери завжди були на передових рубежах моди та технології стрижки, завдяки чому ми завоювали велику кількість вдячних клієнтів і найвищі нагороди у галузі."]</p>
						<p>@Localizer["Ми пишаємося тим, що створили не просто місце для стрижки, але і спільноту чоловіків, які дбають про свій зовнішній вигляд та відчуття стилю. Ми завжди відкриті для нових знайомств та обміну досвідом. Завітайте до нас, і ви обов'язково знайдете друзів, які розділяють вашу любов до гарної зачіски та чоловічого стилю."]</p>
						<p>@Localizer["Ми завжди готові прийняти вас в нашому барбершопі. Запишіться на стрижку, приходьте, і ми з радістю допоможемо вам виглядати і відчувати себе найкраще. Будь-які запитання або побажання? Не соромтесь зв'язатися з нами за телефоном або електронною поштою - ми завжди на зв'язку."]</p>
						

						
					</div><!-- end messagebox -->
				</div><!-- end col -->
				<div class="col-md-6 text-center">
					<div class="right-box">
						<img class="img-fluid" src="~/uploads/about-img.jpg" alt="" />
					</div>
				</div><!-- end col -->
			</div><!-- end row -->

			<hr class="hr1">

			<div class="row">
				<div class="col-md-12">
					<div class="about-tab">
						<ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
							<li class="nav-item"><a class="nav-link active" href="#tab_a" data-toggle="tab">@Localizer["Наша задача"]</a></li>
							<li class="nav-item"><a class="nav-link" href="#tab_b" data-toggle="tab">@Localizer["Чому ми?"]</a></li>
							<li class="nav-item"><a class="nav-link" href="#tab_c" data-toggle="tab">@Localizer["Про нас"]</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="tab_a">
								<p>
									@Localizer["У нашому барбершопі ми прагнемо надати нашим клієнтам не лише стрижку і гоління, але й незабутній досвід, який запам'ятається надовго. Наша місія - відновити справжнє мистецтво чоловічого грумінгу і створити комфортну атмосферу, де кожен чоловік може відчути себе особливим.Ми віримо, що догляд за власною зовнішністю - це не просто ритуал, а спосіб виразити свою індивідуальність і самовираження. Тому ми працюємо, щоб кожен наш клієнт виглядав і почувався найкращим способом."]
								</p>
							</div>
							<div class="tab-pane fade" id="tab_b">
								<p>
									@Localizer["Наші досвідчені майстри володіють вищим рівнем майстерності і завжди готові відповісти на всі ваші побажання щодо зачіски, стрижки або гоління. Ми використовуємо найсучасніше обладнання та продукти для догляду за волоссям і волоссям обличчя, щоб забезпечити найкращі результати.Ми не просто стригаємо волосся - ми створюємо шедеври, які підкреслять ваш стиль і впевненість. Ми докладаємо всіх зусиль, щоб зробити кожен візит до нас особливим і незабутнім. Наша місія - зробити вас щасливими, впевненими в собі та завжди готовими до нових викликів."]
								</p>
								<ul>
									<li><i class="fa fa-circle-o" aria-hidden="true"></i>@Localizer["Стильний дизайн"]</li>
									<li><i class="fa fa-circle-o" aria-hidden="true"></i>@Localizer["Сучасний дизайн"]</li>
										<li><i class="fa fa-circle-o" aria-hidden="true"></i>@Localizer["Консультація у майстра"]</li>
										<li><i class="fa fa-circle-o" aria-hidden="true"></i>@Localizer["Вражаючий інтер'єр"]</li>
								</ul>
							</div>
							<div class="tab-pane fade" id="tab_c">
								<p>
									@Localizer["Наш барбершоп - це місце, де ми створюємо стиль та самовираз кожного клієнта. Ми віримо, що кожна зачіска може бути творчим шедевром, а кожен клієнт - унікальною історією. Наша команда пристрасних фахівців присвячена не просто роботі, а мистецтву, і завжди тут, щоб допомогти вам виглядати найкращим.Ми розуміємо, що важливо не лише відмінно виглядати, але і почувати себе комфортно під час візиту до нашого закладу. Наша атмосфера сповнена тепла та доброзичливості, що допомагає нашим клієнтам розслабитися та розкрити свій справжній потенціал."]
								</p>
						</div><!-- tab content -->
					</div>
				</div><!-- end col -->
			</div><!-- end row -->

			<hr class="hr1">

		@* 	<div class="row text-center">
				<div class="col-lg-12">
					<div class="owl-services owl-carousel owl-theme">

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_01.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>Show us Your Graft Style</h3>
								<p>Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.</p>
							</div>
						</div><!-- end service -->

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_02.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>Outstanding Barber Shop</h3>
								<p>Duis at tellus at dui tincidunt scelerisque nec sed felis. Suspendisse id dolor sed leo rutrum euismod. Nullam vestibulum fermentum erat. It nam auctor. </p>
							</div>
						</div><!-- end service -->

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_03.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>The Barber Materials</h3>
								<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
							</div>
						</div><!-- end service -->

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_04.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>The Barber Materials</h3>
								<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
							</div>
						</div><!-- end service -->

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_05.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_05.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>The Barber Materials</h3>
								<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
							</div>
						</div><!-- end service -->

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_06.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_06.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>The Barber Materials</h3>
								<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
							</div>
						</div><!-- end service -->

					</div>
				</div>
			</div><!-- end row --> *@
		</div><!-- end container -->
	</div><!-- end section -->
		<!-- Center the Google Maps iframe -->
		<div class="row justify-content-center">
			<h1>@Localizer["Ми на карті"]</h1>
			<div class="col-md-12 text-center">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2596.00353816941!2d26.957839376496256!3d49.40883877141196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4732068f357093b7%3A0xc4c40e1a0d42c702!2z0KXQvNC10LvRjNC90LjRhtC60LjQuSDQndCw0YbQuNC-0L3QsNC70YzQvdGL0Lkg0KPQvdC40LLQtdGA0YHQuNGC0LXRgg!5e0!3m2!1sru!2sua!4v1700572636375!5m2!1sru!2sua"
						width="800" height="600" style="border:0; margin: 0 auto;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
				</iframe>
			</div>
		</div><!-- end row -->

</div>

<script>
	(function ($) {
		"use strict";
		$("#menu-toggle").click(function (e) {
			e.preventDefault();
			$("#wrapper").toggleClass("toggled");
		});
		smoothScroll.init({
			selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
			selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
			speed: 500, // Integer. How fast to complete the scroll in milliseconds
			easing: 'easeInOutCubic', // Easing pattern to use
			offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
			callback: function (anchor, toggle) { } // Function to run after scrolling
		});
	})(jQuery);
</script>