@model List<CourseProject.Models.Domain.Appointement>
@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<h1>Замовлення</h1>

<div class="container">
    <div class="pb-3">
        <table class="table">
            <thead>
                <tr>
                    <th> Id</th>
                    <th> Ім'я</th>
                    <th> Email</th>
                    <th> Телефон</th>
                    <th> Час замовлення</th>
                    <th> Дата замовлення</th>
                    <th> Опис</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model)
                {
                    <tr>
                        <td>@appointment.Id</td>
                        <td>@appointment.FirstName</td>
                        <td>@appointment.Email</td>
                        <td>@appointment.Phone</td>
                        <td>@appointment.TimeOfBook.ToString("HH:mm:ss")</td>

                        <td>@appointment.DateOfBook.ToString("dd-MM-yyyy")</td>
                        <td>@appointment.Description</td>
                        <td> <button onclick="location.href='PreviewAppointment/@appointment.Id'" class="btn btn-primary">Перегляд</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>
    h1 {
        margin-top: 30px;
    }

    .container {
        padding-left: 10px; /* Adjust the left padding as needed */
        padding-right: 10px; /* Adjust the right padding as needed */
    }

    .table {
        margin: 0 auto;
    }

        .table th {
            background-color: #007bff;
            color: #fff;
            text-align: left;
            padding: 10px;
        }

        .table td {
            padding: 5px; /* Adjust the padding as needed */
            font-size: 18px;
            border-bottom: 1px solid #e0e0e0;
        }

        .table tr:last-child td {
            border-bottom: none;
        }
</style>
