@model List<CourseProject.Models.Domain.Appointement>
@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<h1>Замовлення</h1>

<div class="container">
    <div class="row mb-3">
        <div class="col-lg-12">
            <form>
                <div class="form-group">
                    <input type="text" id="searchTerm" class="form-control" placeholder="Пошук..." oninput="searchOnPage()">
                </div>
            </form>
        </div>
    </div>
    <div class="pb-3">
        <table class="table">
            <thead>
                <tr>
                    <th> Id</th>
                    <th> Ім'я</th>
                    <th> Email</th>
                    <th> Телефон</th>
                    <th style="min-width: 200px;"> Послуга </th>
                    <th style="min-width: 100px;"> Ціна </th>
                    <th style ="min-width: 100px;"> Час </th>
                    <th style="min-width: 110px;"> Дата </th>
                    <th> Опис</th>
                    <th>Дія</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model)
                {
                    <tr class="searchable">
                        <td>@appointment.Id</td>
                        <td>@appointment.FirstName</td>
                        <td>@appointment.Email</td>
                        <td>@appointment.Phone</td>
                        <td style="min-width: 200px;">@appointment.ServiceName</td>
                        <td style="min-width: 100px;">@appointment.Price</td>
                        <td style="min-width: 100px;">@appointment.TimeOfBook.ToString("HH:mm:ss")</td>
                        <td style="min-width:110px;">@appointment.DateOfBook.ToString("dd-MM-yyyy")</td>
                        <td>@appointment.Description</td>
                        <td> <button onclick="location.href='PreviewAppointment/@appointment.Id'" class="btn btn-primary">Перегляд</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function searchOnPage() {
        var searchTerm = document.getElementById("searchTerm").value.toLowerCase();
        var elements = document.querySelectorAll('.searchable');

        for (var i = 0; i < elements.length; i++) {
            var content = elements[i].textContent.toLowerCase();
            if (content.includes(searchTerm)) {
                elements[i].style.display = "";
            } else {
                elements[i].style.display = "none";
            }
        }

        return false;
    }
</script>

<style>
    h1 {
        margin-top: 30px;
    }

    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    table {
        /* width: 900px; */
        margin: 0;
        font-family: sans-serif;
        font-weight: 100;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px #0000001a;
    }

    th,
    td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    thead th {
        background-color: #55608f;
        color: #fff;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
    }

    tbody td {
        position: relative;
    }

        tbody td:hover:before {
            content: "";
            position: absolute;
            background-color: #f5f5f5;
            left: 0;
            right: 0;
            top: -9999px;
            bottom: -9999px;
            z-index: -1;
        }
</style>
