@model List<CourseProject.Models.Domain.Employee>
@{
}
<div id="page-content-wrapper">
	<div class="all-page-bar">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="title title-1 text-center">
						<div class="much">
							<img src="~/uploads/mustache.png" alt="" />
						</div>

						<div class="title--heading">
							<h1>@Localizer["Наші барбери"]</h1>
						</div>
						<div class="clearfix"></div>

						<ol class="breadcrumb">
							<li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Головна"]</a></li>
							<li class="active"></li>
						</ol>

					</div>
					<!-- .title end -->
				</div>
			</div>
		</div>
	</div><!-- end all-page-bar -->

	<div id="barbers" class="section lb">
		<div class="container">
			<div class="section-title row text-center">
				<div class="col-md-8 offset-md-2">
					<small>@Localizer["Познайомтесь з нашою командою"]</small>
					<h3>@Localizer["Наші барбери"]</h3>
				</div>
			</div><!-- end title -->

			<div class="row dev-list text-center">

				@foreach (var employee in Model)
				{
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
						<div class="widget our-inner-taem clearfix">
						<div class="t-top"></div>
						<div class="hover-br">
							<img src="~/@employee.Image" alt="" class="img-responsive">
							<div class="social-up-hover">
								<div class="footer-social">
									<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<div class="widget-title">
								<h3>@Localizer[employee.Name]</h3>
								<small>@employee.Department</small>
						</div>
						<!-- end title -->
							<p>@employee.Description</p>
						<div class="t-bottom"></div>
					</div><!--widget -->
				</div><!-- end col -->
				}
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->
</div>
<script>
    (function ($) {
        "use strict";
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 500, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function (anchor, toggle) { } // Function to run after scrolling
        });
    })(jQuery);
</script>