@model List<CourseProject.Models.Domain.Service>

@{
    ViewData["Title"] = "Home Page";
}

<div id="home" class="parallax">
	<div id="full-width" class="owl-carousel owl-theme home-hero">
		<div class="text-center item slider-01 display-table overlay">
			<div class="display-table-cell">
				<div class="big-tagline text-center">
					<h2>
						<strong>@Localizer["Барбершоп"]</strong><br>
						@Localizer["в Хмельницькому"]
					</h2>
					<p class="lead">@Localizer["Найкращий барбершоп у місті"], <br>@Localizer["найкращі майстри та доступні ціні"]</p>
					<a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">@Localizer["Записатись"]</a>
				</div>
			</div>
		</div>
		<div class="text-center item slider-02 display-table overlay">
			<div class="display-table-cell">
				<div class="big-tagline text-center">
					<h2>
						<strong>@Localizer["Барбершоп"]</strong><br>
						@Localizer["в Хмельницькому"]
					</h2>
					<p class="lead">@Localizer["Найкращий барбершоп у місті"], <br>@Localizer["найкращі майстри та доступні ціні"]</p>
					<a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">@Localizer["Записатись"]</a>
				</div>
			</div>
		</div>
		<div class="text-center item slider-03 display-table overlay">
			<div class="display-table-cell">
				<div class="big-tagline text-center">
					<h2>
						<strong>@Localizer["Барбершоп"]</strong><br>
						@Localizer["в Хмельницькому"]
					</h2>
					<p class="lead">@Localizer["Найкращий барбершоп у місті"], <br>@Localizer["найкращі майстри та доступні ціні"]</p>
					<a href="#" class="btn btn-light btn-radius btn-brd grd1 effect-1 butn">@Localizer["Записатись"]</a>
				</div>
			</div>
		</div>
	</div>
</div><!-- end section -->
<!-- Page Content -->
<div id="page-content-wrapper">
	<div class="section wb">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6 text-left">
					<div class="message-box">
						<h4>@Localizer["Про нас"]</h4>
						<h2>@Localizer["Запрошаємо у наш StyleBarber"]</h2>
						<p class="lead"> @Localizer["У нас це не просто місце для стрижки волосся, це справжній оазис відпочинку та релаксації для сучасних чоловіків, які прагнуть доглядати за собою та виглядати найкраще."]</p>

						<p>@Localizer["Наш барбершоп - це база для чоловіків, де ви зможете насолодитися найвищим рівнем грумінгу та розкоші в стилі вінтажної атмосфери. Наш барбершоп - це не просто місце для стрижки волосся, це справжнє місце для відпочинку і релаксації для сучасних чоловіків, які прагнуть доглядати за собою та виглядати найкраще."]</p>

						<a href="#services" data-scroll class="btn btn-light btn-radius btn-brd grd1 effect-1">@Localizer["Дізнатись більше"]</a>
					</div><!-- end messagebox -->
				</div><!-- end col -->
				<div class="col-md-6 text-center">
					<div class="right-box">
						<img class="img-fluid" src="~/uploads/about-img.jpg" alt="" />
					</div>
				</div><!-- end col -->
			</div><!-- end row -->

			<hr class="hr1">

			<div class="row">
				<div class="col-md-12">
					<div class="about-tab">
						<ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
							<li class="nav-item"><a class="nav-link active" href="#tab_a" data-toggle="tab">@Localizer["Наша задача"]</a></li>
							<li class="nav-item"><a class="nav-link" href="#tab_b" data-toggle="tab">@Localizer["Чому ми?"]</a></li>
							<li class="nav-item"><a class="nav-link" href="#tab_c" data-toggle="tab">@Localizer["Про нас"]</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="tab_a">
								<p>
									@Localizer["У нашому барбершопі ми прагнемо надати нашим клієнтам не лише стрижку і гоління, але й незабутній досвід, який запам'ятається надовго. Наша місія - відновити справжнє мистецтво чоловічого грумінгу і створити комфортну атмосферу, де кожен чоловік може відчути себе особливим. Ми віримо, що догляд за власною зовнішністю - це не просто ритуал, а спосіб виразити свою індивідуальність і самовираження. Тому ми працюємо, щоб кожен наш клієнт виглядав і почувався найкращим способом."]
								</p>
								
							</div>
							<div class="tab-pane fade" id="tab_b">
								<p>
									@Localizer["Наші досвідчені майстри володіють вищим рівнем майстерності і завжди готові відповісти на всі ваші побажання щодо зачіски, стрижки або гоління. Ми використовуємо найсучасніше обладнання та продукти для догляду за волоссям і волоссям обличчя, щоб забезпечити найкращі результати.Ми не просто стригаємо волосся - ми створюємо шедеври, які підкреслять ваш стиль і впевненість. Ми докладаємо всіх зусиль, щоб зробити кожен візит до нас особливим і незабутнім. Наша місія - зробити вас щасливими, впевненими в собі та завжди готовими до нових викликів."]
								</p>
								<ul>
									<li><i class="fa fa-circle-o" aria-hidden="true"></i>@Localizer["Стильний дизайн"]</li>
									<li><i class="fa fa-circle-o" aria-hidden="true"></i>@Localizer["Сучасний дизайн"]</li>
									<li><i class="fa fa-circle-o" aria-hidden="true"></i>@Localizer["Консультація у майстра"]</li>
									<li><i class="fa fa-circle-o" aria-hidden="true"></i>@Localizer["Вражаючий інтер'єр"]</li>
								</ul>
							</div>
							<div class="tab-pane fade" id="tab_c">
								<p>
									@Localizer["Наш барбершоп - це місце, де ми створюємо стиль та самовираз кожного клієнта. Ми віримо, що кожна зачіска може бути творчим шедевром, а кожен клієнт - унікальною історією. Наша команда пристрасних фахівців присвячена не просто роботі, а мистецтву, і завжди тут, щоб допомогти вам виглядати найкращим.Ми розуміємо, що важливо не лише відмінно виглядати, але і почувати себе комфортно під час візиту до нашого закладу. Наша атмосфера сповнена тепла та доброзичливості, що допомагає нашим клієнтам розслабитися та розкрити свій справжній потенціал."]

									
								</p>
							</div>
						</div><!-- tab content -->
					</div>
				</div><!-- end col -->
			</div><!-- end row -->

			<hr class="hr1">

			<div class="row text-center">
				<div class="col-lg-12">
					<div class="owl-services owl-carousel owl-theme">

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_01.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_01.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>Show us Your Graft Style</h3>
								<p>Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est, convallis nec purus vitae, iaculis posuere sapien. Cum sociis natoque.</p>
							</div>
						</div><!-- end service -->

						@* <div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_02.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_02.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>Outstanding Barber Shop</h3>
								<p>Duis at tellus at dui tincidunt scelerisque nec sed felis. Suspendisse id dolor sed leo rutrum euismod. Nullam vestibulum fermentum erat. It nam auctor. </p>
							</div>
						</div><!-- end service -->

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_03.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_03.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>The Barber Materials</h3>
								<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
							</div>
						</div><!-- end service -->

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_04.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_04.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>The Barber Materials</h3>
								<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
							</div>
						</div><!-- end service -->

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_05.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_05.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>The Barber Materials</h3>
								<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
							</div>
						</div><!-- end service -->

						<div class="service-widget">
							<div class="post-media wow fadeIn">
								<a href="~/uploads/barber_06.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="flaticon-unlink"></i></a>
								<img src="~/uploads/barber_06.jpg" alt="" class="img-responsive img-rounded">
							</div>
							<div class="dit-box">
								<h3>The Barber Materials</h3>
								<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis posuere.</p>
							</div>
						</div><!-- end service --> *@

					</div>
				</div>
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->

	<div id="pricing" class="section lb">
		<div class="container">
			<div class="section-title row text-center">
				<div class="col-md-8 offset-md-2">
					<small>@Localizer["Наші послуги Барберів"]</small>
					<h3>@Localizer["Ціни та опис послуг"]</h3>
				</div>
			</div><!-- end title -->
			<div class="row">
				<div class="col-md-6">

					@foreach (var service in Model)
                {
					<div class="service-wrap text-center clearfix">
						<div class="uptop">
								<img src="~/@service.Image" alt="" class="img-responsive img-rounded alignleft">
						</div>
							<h4>@service.Name</h4>
						<p>@service.Description</p>
					</div><!-- end issue -->
				}

					@* <div class="service-wrap text-center clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_02.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>Детальне очищення бороди</h4>
						<p>Ми з радістю допоможимо вам з очищенням бороди </p>
					</div><!-- end issue -->

					<div class="service-wrap text-center lastchild clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_03.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>Догляд за лицем та шкірою</h4>
						<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
					</div><!-- end issue -->
				</div><!-- end col -->

				<div class="col-md-6">
					<div class="service-wrap text-center clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_04.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>Студійні знімки</h4>
						<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
					</div><!-- end issue -->

					<div class="service-wrap text-center clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_05.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>Формування бороди</h4>
						<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
					</div><!-- end issue -->

					<div class="service-wrap text-center lastchild clearfix">
						<div class="uptop">
							<img src="~/uploads/barber_service_06.jpg" alt="" class="img-responsive img-rounded alignleft">
						</div>
						<h4>Миття голови</h4>
						<p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet lacus vitae massa sodales aliquam at eget quam. Integer ultricies et magna quis.</p>
					</div><!-- end issue --> *@
				</div><!-- end col -->
			</div>
		@* 	<div class="row flex-items-xs-middle flex-items-xs-center">

				<!-- Table #1  -->
				<div class="col-xs-12 col-lg-4">
					<div class="card text-center">
						<div class="card-block">
							<h4 class="card-title pricing-ti">
								Гоління
							</h4>
							<div class="line-pricing">
								<h5>Базове</h5>
								<p>Отримаєте базове гоління, яке включає в себе обробку бороди або вусів без додаткових послуг або додаткового часу на стилізацію.</p>
								<a href="#">200 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Класичне</h5>
								<p>Ви отримаєте більше індивідуалізованого підходу до гоління, можливо, включаючи гарячий рушник, багаторазовий бритвенний лезо, та/або використання якісних гоління кремів або олій.</p>
								<a href="#">400 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Преміум</h5>
								<p>Ви отримаєте вищий рівень обслуговування, який включає в себе розширені послуги, такі як гарячий паровий апарат, масаж голови, додаткову стилізацію чи інші додаткові послуги для більш розкішного гоління.</p>
								<a href="#">600 ₴</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Table #1  -->
				<div class="col-xs-12 col-lg-4">
					<div class="card text-center">
						<div class="card-block">
							<h4 class="card-title pricing-ti">
								Маска для лиця
							</h4>
							<div class="line-pricing">
								<h5>Базова</h5>
								<p>Ви отримаєте базову процедуру нанесення маски на шкіру обличчя. Включає в себе базовий обранітий засіб для маски, який наносять на шкіру для очищення.</p>
								<a href="#">200 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Класична</h5>
								<p>Ви можете очікувати більше індивідуалізованого підходу до маскування обличчя. Це включає в себе використання високоякісних масок, які надають додаткові корисні властивості для шкіри, такі як зволоження та поживлення.</p>
								<a href="#">400 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Преміум</h5>
								<p>Ви отримаєте преміумне обслуговування для маскування обличчя. Гарячий паровий апарат для відкриття пор, масаж обличчя, та використання найвищої якості масок для досягнення найкращого ефекту для вашої шкіри.</p>
								<a href="#">600 ₴</a>
							</div>
						</div>
					</div>
				</div>

				<!-- Table #1  -->
				<div class="col-xs-12 col-lg-4">
					<div class="card text-center">
						<div class="card-block">
							<h4 class="card-title pricing-ti">
								Зачіска
							</h4>
							<div class="line-pricing">
								<h5>Lorem ipsum dolor</h5>
								<p>Ви отримаєте базове оформлення волосся, яке може включати в себе просте укладання чи стрижку без додаткових послуг або стилізації.</p>
								<a href="#">200 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Lorem ipsum dolor</h5>
								<p>Ви отримуєте більше індивідуалізованого підходу до укладання волосся. Це може включати в себе використання якісних стайлінгових продуктів та більш ретельну стилізацію для досягнення бажаного ефекту.</p>
								<a href="#">400 ₴</a>
							</div>
							<div class="line-pricing">
								<h5>Lorem ipsum dolor</h5>
								<p>Ви отримаєте преміумне оформлення волосся. Це може включати в себе розширені послуги, такі як гаряча укладка, використання професійних продуктів для стилізації, та більше складну стилізацію волосся.</p>
								<a href="#">600 ₴</a>
							</div>
						</div>
					</div>
				</div>
			</div> *@
		</div>
	</div>


	<div id="barbers" class="section lb">
		<div class="container">
			<div class="section-title row text-center">
				<div class="col-md-8 offset-md-2">
					<small>@Localizer["Познайомтесь з нашою командою"]</small>
					<h3>@Localizer["Наші барбери"]</h3>
				</div>
			</div><!-- end title -->

			<div class="row dev-list text-center">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
					<div class="widget our-inner-taem clearfix">
						<div class="t-top"></div>
						<div class="hover-br">
							<img src="~/uploads/barber_team_01.jpg" alt="" class="img-responsive">
							<div class="social-up-hover">
								<div class="footer-social">
									<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<div class="team-box">
							<div class="widget-title">
								<h3>@Localizer["Денис Паламарчук"]</h3>
								<small>@Localizer["Засновник"]</small>
							</div>
							<!-- end title -->
							<p>@Localizer["Всім привіт я з Хмельницької області."]</p>
						</div>
						<div class="t-bottom"></div>
					</div><!--widget -->
				</div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.4s">
					<div class="widget our-inner-taem clearfix">
						<div class="t-top"></div>
						<div class="hover-br">
							<img src="~/uploads/barber_team_03.jpg" alt="" class="img-responsive">
							<div class="social-up-hover">
								<div class="footer-social">
									<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<div class="team-box">
							<div class="widget-title">
								<h3>@Localizer["Єгор Столярчук"]</h3>
								<small>@Localizer["Барбер"]</small>
							</div>
							<!-- end title -->
							<p>@Localizer["Всім привіт я з Хмельницької області."]</p>
						</div>
						<div class="t-bottom"></div>
					</div><!--widget -->
				</div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.6s">
					<div class="widget our-inner-taem clearfix">
						<div class="t-top"></div>
						<div class="hover-br">
							<img src="~/uploads/barber_team_02.jpg" alt="" class="img-responsive">
							<div class="social-up-hover">
								<div class="footer-social">
									<a href="#" class="btn grd1"><i class="fa fa-facebook"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-github"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-twitter"></i></a>
									<a href="#" class="btn grd1"><i class="fa fa-linkedin"></i></a>
								</div>
							</div>
						</div>
						<div class="team-box">
							<div class="widget-title">
								<h3>@Localizer["Мазур Дмитро"]</h3>
								<small>@Localizer["Барбер"]</small>
							</div>
							<!-- end title -->
							<p>@Localizer["Всім привіт я з Хмельницької області."]</p>
						</div>
						<div class="t-bottom"></div>
					</div><!--widget -->
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->
</div>