@model List<CourseProject.Models.Domain.Employee>


@{
    Layout = "~/Views/Shared/_OtherLayout.cshtml";
}

<h1>Робітники</h1>

<div class="container">
    <div class="pb-3">
        <div class="button-container">
            <button onclick="location.href='Employees/Add'" class="view-button">Додати працівника</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th> Id</th>
                    <th> Ім'я</th>
                    <th> Email </th>
                    <th> Зарплата</th>
                    <th> Дата народження</th>
                    <th> Спеціалізація</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.Name</td>
                        <td>@employee.Email</td>
                        <td>@employee.Salary</td>
                        <td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td>
                        <td>@employee.Department</td>
                        <td>
                            <button onclick="location.href='Employees/View/@employee.Id'" class="btn btn-primary">Перегляд</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<style>

    .view-button {
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

        .view-button:hover {
            background-color: #387f36;
        }


    h1 {
        margin-top: 30px;
    }

    .container {
        padding-left: 5px; 
        padding-right: 5px; 
    }

    table {
        width: 900px;
        font-family: sans-serif;
        font-weight: 100;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px #0000001a;
    }

    th,
    td {
        background-color: #ffffff33;
        padding: 15px;

    }

    thead th {
        background-color: #55608f;
    }

    tbody tr:hover {
        background-color: #ffffff4d
    }

    tbody td {
        position: relative;
    }

        tbody td:hover:before {
            content: "";
            position: absolute;
            background-color: #ffffff33;
            left: 0;
            right: 0;
            top: -9999px;
            bottom: -9999px;
            z-index: -1;
        }
</style>
